torch
torchaudio
transformers>=4.52.1
huggingface_hub
soundfile
runpod
accelerate
numpy
tqdm
pandas
python-dotenv
optuna
# Optional advanced extras
moshi
torchtune
torchao
wandb
silentcipher @ git+https://github.com/SesameAILabs/silentcipher@master
